@model CruiseBook
@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="DeletePOST">
    <input asp-for="CruiseId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Booking</h2>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" disabled class="form-control" />
  
    </div>

    <div class="mb-3">
        <label asp-for="Arrival"></label>
        <input asp-for="Arrival" disabled class="form-control" />
   
    </div>

    <div class="mb-2">
        <label asp-for="Destination"></label>
        <input asp-for="Destination" disabled class="form-control" />
  
    </div>

    <div class="mb-2">
        <label asp-for="Membership"></label>
        <input asp-for="Membership" disabled class="form-control" />
    </div>

    <button type="submit" class="btn-secondary" style="width:150px"> Delete
    </button>
    <a asp-controller="Cruise" asp-action="Index" class="btn btn-secondary" style="width:80">
       Back to List
    </a>


</form>

